body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1815 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1816 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:120px;
}
#u1817 {
  position:absolute;
  left:2px;
  top:52px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u1818 {
  position:absolute;
  left:147px;
  top:33px;
  width:108px;
  height:55px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#666666;
}
#u1819 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u1820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:902px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1820 {
  position:absolute;
  left:0px;
  top:120px;
  width:1440px;
  height:902px;
}
#u1821 {
  position:absolute;
  left:2px;
  top:443px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:490px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5E5E5E;
}
#u1823 {
  position:absolute;
  left:147px;
  top:451px;
  width:1133px;
  height:490px;
  opacity:0.9;
  color:#5E5E5E;
}
#u1824 {
  position:absolute;
  left:2px;
  top:237px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:490px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1825 {
  position:absolute;
  left:146px;
  top:451px;
  width:174px;
  height:490px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1826 {
  position:absolute;
  left:2px;
  top:232px;
  width:170px;
  word-wrap:break-word;
}
#u1827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1827 {
  position:absolute;
  left:370px;
  top:849px;
  width:119px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1828 {
  position:absolute;
  left:2px;
  top:6px;
  width:115px;
  word-wrap:break-word;
}
#u1827_ann {
  position:absolute;
  left:482px;
  top:845px;
  width:1px;
  height:1px;
}
#u1829 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:173px;
}
#u1830 {
  position:absolute;
  left:363px;
  top:599px;
  width:172px;
  height:173px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:78px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:52px;
}
#u1832 {
  position:absolute;
  left:370px;
  top:769px;
  width:158px;
  height:52px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:18px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1835 {
  position:absolute;
  left:370px;
  top:477px;
  width:541px;
  height:50px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:17px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:33px;
}
#u1837 {
  position:absolute;
  left:381px;
  top:486px;
  width:118px;
  height:33px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1839 {
  position:absolute;
  left:532px;
  top:493px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1840 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:802px;
  top:492px;
  width:29px;
  height:20px;
}
#u1842 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1843 {
  position:absolute;
  left:838px;
  top:494px;
  width:45px;
  height:16px;
  color:#FF0000;
}
#u1844 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  position:absolute;
  left:886px;
  top:492px;
  width:15px;
  height:20px;
}
#u1846 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1847 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:541px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  position:absolute;
  left:370px;
  top:539px;
  width:541px;
  height:50px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:17px;
  width:537px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
}
#u1850 {
  position:absolute;
  left:383px;
  top:546px;
  width:93px;
  height:33px;
}
#u1851 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1852 {
  position:absolute;
  left:532px;
  top:554px;
  width:155px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1854 {
  position:absolute;
  left:802px;
  top:554px;
  width:29px;
  height:20px;
}
#u1855 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1856 {
  position:absolute;
  left:838px;
  top:556px;
  width:45px;
  height:16px;
  color:#FF0000;
}
#u1857 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1858 {
  position:absolute;
  left:886px;
  top:554px;
  width:15px;
  height:20px;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:100px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u1861 {
  position:absolute;
  left:0px;
  top:1022px;
  width:1440px;
  height:100px;
  color:#797979;
}
#u1862 {
  position:absolute;
  left:2px;
  top:42px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1863 {
  position:absolute;
  left:532px;
  top:1087px;
  width:377px;
  height:20px;
  color:#FFFFFF;
}
#u1864 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  white-space:nowrap;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1865 {
  position:absolute;
  left:457px;
  top:1051px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1867 {
  position:absolute;
  left:530px;
  top:1052px;
  width:2px;
  height:18px;
  color:#FFFFFF;
}
#u1868 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1869 {
  position:absolute;
  left:548px;
  top:1051px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1871 {
  position:absolute;
  left:621px;
  top:1052px;
  width:2px;
  height:18px;
  color:#FFFFFF;
}
#u1872 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1873 {
  position:absolute;
  left:643px;
  top:1051px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1875 {
  position:absolute;
  left:716px;
  top:1052px;
  width:2px;
  height:18px;
  color:#FFFFFF;
}
#u1876 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1877 {
  position:absolute;
  left:740px;
  top:1051px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1879 {
  position:absolute;
  left:813px;
  top:1052px;
  width:2px;
  height:18px;
  color:#FFFFFF;
}
#u1880 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1881 {
  position:absolute;
  left:835px;
  top:1051px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1883 {
  position:absolute;
  left:908px;
  top:1052px;
  width:2px;
  height:18px;
  color:#FFFFFF;
}
#u1884 {
  position:absolute;
  left:2px;
  top:1px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1885 {
  position:absolute;
  left:927px;
  top:1051px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1133px;
  height:248px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1890 {
  position:absolute;
  left:146px;
  top:190px;
  width:1133px;
  height:248px;
  color:#FFFFFF;
}
#u1891 {
  position:absolute;
  left:2px;
  top:116px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:248px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1892 {
  position:absolute;
  left:146px;
  top:190px;
  width:174px;
  height:248px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1893 {
  position:absolute;
  left:2px;
  top:112px;
  width:170px;
  word-wrap:break-word;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1895 {
  position:absolute;
  left:362px;
  top:284px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1897 {
  position:absolute;
  left:442px;
  top:284px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1898 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1900 {
  position:absolute;
  left:362px;
  top:212px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1902 {
  position:absolute;
  left:442px;
  top:212px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1904 {
  position:absolute;
  left:555px;
  top:212px;
  width:115px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u1906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u1906 {
  position:absolute;
  left:790px;
  top:212px;
  width:59px;
  height:20px;
  color:#FF0000;
  text-align:center;
}
#u1907 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1908 {
  position:absolute;
  left:719px;
  top:212px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1909 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1911 {
  position:absolute;
  left:362px;
  top:357px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1913 {
  position:absolute;
  left:442px;
  top:357px;
  width:79px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1916 {
  position:absolute;
  left:362px;
  top:393px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1917 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1918 {
  position:absolute;
  left:445px;
  top:393px;
  width:139px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1921 {
  position:absolute;
  left:362px;
  top:321px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u1923 {
  position:absolute;
  left:442px;
  top:321px;
  width:169px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1925 {
  position:absolute;
  left:362px;
  top:248px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1927 {
  position:absolute;
  left:443px;
  top:248px;
  width:342px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#5E5E5E;
  text-align:right;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  white-space:nowrap;
}
#u1929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1930 {
  position:absolute;
  left:167px;
  top:147px;
  width:65px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u1931 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1932 {
  position:absolute;
  left:250px;
  top:147px;
  width:161px;
  height:22px;
  font-size:16px;
  text-align:center;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1934 {
  position:absolute;
  left:234px;
  top:151px;
  width:10px;
  height:18px;
  font-size:16px;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u1936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:20px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1936 {
  position:absolute;
  left:146px;
  top:148px;
  width:6px;
  height:20px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:2px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1939 {
  position:absolute;
  left:913px;
  top:142px;
  width:32px;
  height:32px;
  font-size:14px;
  color:#666666;
}
#u1940 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1941 {
  position:absolute;
  left:954px;
  top:148px;
  width:325px;
  height:20px;
  color:#666666;
}
#u1942 {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  white-space:nowrap;
}
