body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1208px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:1334px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1208px;
  height:1334px;
}
#u1 {
  position:absolute;
  left:2px;
  top:659px;
  width:1204px;
  visibility:hidden;
  word-wrap:break-word;
}
