body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-57px;
  width:650px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:430px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5118 {
  position:absolute;
  left:57px;
  top:67px;
  width:650px;
  height:430px;
}
#u5119 {
  position:absolute;
  left:2px;
  top:207px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5121 {
  position:absolute;
  left:97px;
  top:137px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5122 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:27px;
}
#u5123 {
  position:absolute;
  left:177px;
  top:134px;
  width:240px;
  height:27px;
}
#u5124 {
  position:absolute;
  left:2px;
  top:6px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5125 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5126 {
  position:absolute;
  left:97px;
  top:177px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5127 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5128 {
  position:absolute;
  left:177px;
  top:177px;
  width:430px;
  height:200px;
}
#u5128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:200px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:48px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5129 {
  position:absolute;
  left:57px;
  top:67px;
  width:650px;
  height:48px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:16px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5131 {
  position:absolute;
  left:97px;
  top:80px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5132 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5133 {
  position:absolute;
  left:640px;
  top:75px;
  width:32px;
  height:32px;
}
#u5134 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5135 {
  position:absolute;
  left:177px;
  top:410px;
  width:120px;
  height:30px;
}
#u5136 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u5137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5137 {
  position:absolute;
  left:317px;
  top:410px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5138 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
