body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-130px;
  width:520px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:420px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5166 {
  position:absolute;
  left:130px;
  top:80px;
  width:520px;
  height:420px;
}
#u5167 {
  position:absolute;
  left:2px;
  top:202px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:48px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5168 {
  position:absolute;
  left:130px;
  top:80px;
  width:520px;
  height:48px;
}
#u5169 {
  position:absolute;
  left:2px;
  top:16px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5170 {
  position:absolute;
  left:170px;
  top:93px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5171 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u5172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u5172 {
  position:absolute;
  left:604px;
  top:88px;
  width:32px;
  height:32px;
}
#u5173 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5174 {
  position:absolute;
  left:160px;
  top:159px;
  width:80px;
  height:20px;
  text-align:right;
}
#u5175 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5176 {
  position:absolute;
  left:250px;
  top:154px;
  width:220px;
  height:30px;
}
#u5176_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5177 {
  position:absolute;
  left:160px;
  top:209px;
  width:80px;
  height:20px;
  text-align:right;
}
#u5178 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5179 {
  position:absolute;
  left:250px;
  top:204px;
  width:220px;
  height:30px;
}
#u5179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:30px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5180 {
  position:absolute;
  left:160px;
  top:258px;
  width:80px;
  height:20px;
  text-align:right;
}
#u5181 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:34px;
}
#u5182 {
  position:absolute;
  left:244px;
  top:251px;
  width:350px;
  height:34px;
}
#u5183 {
  position:absolute;
  left:2px;
  top:9px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5184 {
  position:absolute;
  left:160px;
  top:302px;
  width:80px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u5185 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5186 {
  position:absolute;
  left:250px;
  top:302px;
  width:326px;
  height:100px;
}
#u5186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:100px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5187 {
  position:absolute;
  left:250px;
  top:423px;
  width:120px;
  height:30px;
}
#u5188 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u5189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5189 {
  position:absolute;
  left:390px;
  top:423px;
  width:120px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5190 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
